In [3]:
import requests

In [9]:
peticion = {'user_id': '004',
            'Climbing': 'True',
            'Fitness': 'True',
            'Football': 'False',
            'Paddle': 'False',
            'Running': 'False',
            'Surf': 'False',
            'Trecking': 'True',
            'Voley': 'False',
            'Bookstores': 'False',
            'Concerts': 'False',
            'Guided visits': 'True',
            'Movies': 'False',
            'Museums': 'True',
            'Parks': 'False',
            'Rural tourism': 'True',
            'Theaters': 'False',
            'Burgers': 'True',
            'Chinese': 'True',
            'Indian': 'True',
            'Italian': 'True',
            'Mediterranean': 'True',
            'Sushi': 'False',
            'Coffee': 'False',
            'Drinks at night': 'True',
            'Parties': 'True',
            'Sunsets': 'True'
           }
path = 'http://127.0.0.1:5000/cluster'
# path = 'https://nomad-spain-api.herokuapp.com/cluster'

In [ ]:
user_id: blablablabla,
    interests: {
          burguers: false,
          mediterranean: false,
          indian: false,
          sushi: false,
          italian: false,
          chinese: false,
          drinks: false,
          coffee: false,
          sunsets: false,
          parties: false,
          surf: false,
          fitness: false,
          volley: false,
          paddle: false,
          climbing: false,
          running: false,
          football: false,
          trecking: false,
          museums: false,
          bookstores: false,
          theaters: false,
          movies: false,
          guidedVisits: false,
          concerts: false,
          parks: false,
          ruralTourism: false,
        }

In [58]:
res = requests.get(path, json=peticion)

if res.ok:
    print(res.json())
else:
    print(res.ok)

{'cluster': 6, 'user_id': '004'}

In [59]:
print(res)

<Response [200]>

In [39]:
res = requests.post(path, json=peticion)

if res.ok:
    print(res.json())
else:
    print(res.ok)

False

In [40]:
print(res)

<Response [405]>

## Pruebas app.py

In [1]:
import pandas as pd
from distutils.util import strtobool
from joblib import load

In [5]:
new_user = pd.DataFrame.from_dict(peticion, orient='index').T
user_id = new_user['user_id'].values[0]
new_user.drop('user_id', axis='columns', inplace=True)
new_user = new_user.applymap(strtobool)

print(user_id)
new_user

004

,Climbing,Fitness,Football,Paddle,Running,Surf,Trecking,Voley,Bookstores,Concerts,...,Burgers,Chinese,Indian,Italian,Mediterranean,Sushi,Coffee,Drinks at night,Parties,Sunsets
0,1,1,0,0,0,0,1,0,0,0,...,1,1,1,1,1,0,0,1,1,1

In [6]:
model = load('model/model.pkl')

cluster = model.predict(new_user)
cluster[0]

4