In [122]:
import requests
import json

In [64]:
peticion = {'user_id': '004',
            'Climbing': 'True',
            'Fitness': 'True',
            'Football': 'False',
            'Paddle': 'False',
            'Running': 'False',
            'Surf': 'False',
            'Trecking': 'True',
            'Voley': 'False',
            'Bookstores': 'False',
            'Concerts': 'False',
            'Guided visits': 'True',
            'Movies': 'False',
            'Museums': 'True',
            'Parks': 'False',
            'Rural tourism': 'True',
            'Theaters': 'False',
            'Burgers': 'True',
            'Chinese': 'True',
            'Indian': 'True',
            'Italian': 'True',
            'Mediterranean': 'True',
            'Sushi': 'False',
            'Coffee': 'False',
            'Drinks at night': 'True',
            'Parties': 'True',
            'Sunsets': 'True'
           }

In [98]:
with open('Example_JSON.json') as f:
  json_file = json.load(f)

In [133]:
path = 'http://127.0.0.1:5000/cluster'
#path = 'https://nomad-spain-api.herokuapp.com/cluster'

In [138]:
res = requests.get(path, json=json_file)

if res.ok:
    print(res.json())
else:
    print(res.ok)

{'_id': '6172a562284bf0c3a4c8632a'}

In [135]:
print(res)

<Response [200]>

In [66]:
res = requests.post(path, json=peticion)

if res.ok:
    print(res.json())
else:
    print(res.ok)

False

In [67]:
print(res)

<Response [405]>

In [136]:
json_file

{'_id': '6172a562284bf0c3a4c8632a',
 'interests': {'burguers': False,
  'mediterranean': True,
  'indian': False,
  'sushi': False,
  'italian': False,
  'chinese': False,
  'drinks': False,
  'coffee': True,
  'sunsets': False,
  'parties': False,
  'surf': True,
  'fitness': False,
  'volley': False,
  'paddle': True,
  'climbing': False,
  'running': False,
  'football': False,
  'trecking': False,
  'museums': False,
  'bookstores': True,
  'theaters': False,
  'movies': False,
  'guidedVisits': False,
  'concerts': False,
  'parks': False,
  'ruralTourism': False}}

## Pruebas app.py

In [99]:
import pandas as pd
from distutils.util import strtobool
from joblib import load

### json tipo petición

In [100]:
new_user = pd.DataFrame.from_dict(peticion, orient='index').T
user_id = new_user['user_id'].values[0]
new_user.drop('user_id', axis='columns', inplace=True)
new_user = new_user.applymap(strtobool)

print(user_id)
new_user

004

,Climbing,Fitness,Football,Paddle,Running,Surf,Trecking,Voley,Bookstores,Concerts,...,Burgers,Chinese,Indian,Italian,Mediterranean,Sushi,Coffee,Drinks at night,Parties,Sunsets
0,1,1,0,0,0,0,1,0,0,0,...,1,1,1,1,1,0,0,1,1,1

### json tipo Ichi

In [109]:
new_user = pd.DataFrame.from_dict(json_file['interests'], orient='index').T
new_user = new_user.reindex(columns = ['climbing', 'fitness', 'football', 'paddle', 'running', 'surf',
                                       'trecking', 'volley', 'bookstores', 'concerts', 'guidedVisits',
                                       'movies', 'museums', 'parks', 'ruralTourism', 'theaters', 'burguers',
                                       'chinese', 'indian', 'italian', 'mediterranean', 'sushi', 'coffee',
                                       'drinks', 'parties', 'sunsets'])
new_user = new_user.astype('int')
_id = json_file['_id']

In [110]:
model = load('model/model.pkl')

cluster = model.predict(new_user)
cluster[0]

1